<div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-outline-primary" type="button" [routerLink]="[ '/heroe', 'nuevo' ]">
        Nuevo
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Casa</th>
        <th scope="col">Bio</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heroe of heroeStack | key$; let i=index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{heroeStack[heroe].nombre}}</td>
        <td>{{heroeStack[heroe].casa}}</td>
        <td>{{heroeStack[heroe].bio}}</td>
        <td>
          <button class="btn btn-outline-warning" type="button" [routerLink]="[ '/heroe', heroe, heroeStack[heroe].nombre ]">
            Editar
          </button>
          <button class="btn btn-outline-danger" type="button" (click)="borrarHeroe(heroe)">
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pre></pre>
